<% if @book_new.errors.any? %>
    <div class = "error_explanation">
        <h3><%= @book_new.errors.count %>errors prohibited this book from being saved:</h3>
            <ul>
                <% @book_new.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
            </ul>
    </div>
<% end %>

<%= render 'list', {book: @book_new, user: @user} %>

<div class = "col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class = "table">
        <tbody>
            <tr>
                <td>
                    <% if @book.user.profile_image.attached? %>
                        <%= image_tag @book.user.get_profile_image(100,100) %>
                    <% else %>
                        <%= image_tag 'no_image', size: "100x100" %>
                    <% end %>
                    <br>
                    <%= link_to user_path(@user.id) do %>
                        <%= @user.name %>
                    <% end %>
                </td>
                <td><%= link_to book_path(@book.id) do %>
                        <%= @book.title %>
                    <% end %>
                </td>
                <td><%= @book.body %></td>
                <% if @book.user == current_user %>
                    <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
                    <td><%= link_to "Destroy", book_path(@book), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                <% end %>
            </tr>
        </tbody>
    </table>
</div>